<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/term.css">
    <link rel="stylesheet" href="css/terminal/termUI.css">
    <script src="/js/term.js"></script>
    <script src="/js/cmdController.js"></script>
    <script src="/js/cmdApi.js"></script>
    <script type="module" src="/js/chart.js"></script>

{{!-- TODO save as local library --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <title>molewakamole</title>
</head>
<body>
    <terminal>
        {{!-- <pre class="title">
███    ███  ██████  ██      ███████ ██     ██  █████  ██   ██  █████  ███    ███  ██████  ██      ███████
████  ████ ██    ██ ██      ██      ██     ██ ██   ██ ██  ██  ██   ██ ████  ████ ██    ██ ██      ██     
██ ████ ██ ██    ██ ██      █████   ██  █  ██ ███████ █████   ███████ ██ ████ ██ ██    ██ ██      █████  
██  ██  ██ ██    ██ ██      ██      ██ ███ ██ ██   ██ ██  ██  ██   ██ ██  ██  ██ ██    ██ ██      ██     
██      ██  ██████  ███████ ███████  ███ ███  ██   ██ ██   ██ ██   ██ ██      ██  ██████  ███████ ███████
        </pre> --}}
        <term-result id="resultTerm">
            {{!-- Results here --}}
        </term-result>
        <term-control>
            <pre>
<cmd>$></cmd><textarea id="inputTerm" spellcheck="false"></textarea>
            </pre>
            <pre>
<comment><hints id="inputHints"></hints></comment>
            </pre>
        </term-control>
    </terminal>
</body>
</html>