terminal {
    height: auto;
}

/* Input */

textarea, textarea:focus {
    background: inherit;
    border: inherit;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: auto;
    font: inherit;
    font-family: inherit;
    outline: none;
    resize: none;
    overflow-y: hidden;
}

#inputTerm {
    width: 90vw;
    height: 1rem;
}

term-control > pre {
    display: flex;
    gap: 0.5rem;
}

term-control > pre:first-child {
    border: 1px solid #00000000;
    border-radius: 0.2rem;
}

term-control > pre:first-child:hover {
    border-color: var(--c-grey);
}

term-control > pre:first-child > * {
    border: none;
}

/* Output */
term-result > pre > cmd {
    margin-left: 1px;
}

/* collapsable blocks */

.collapsable {
    display: none;
}

/* btn */
term_btn {
    --margin: 0.5rem;
    margin: var(--margin);
    padding: 0.5rem;
    color: var(--font-color);
    border-radius: 0.2rem;
    border: 1px solid #00000000;

    /* Center horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

term_btn:hover {
    font-weight: bold;
    border-color: var(--c-grey);
}