terminal {
    height: auto;
}

textarea, textarea:focus {
    background: inherit;
    border: inherit;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: auto;
    font: inherit;
    font-family: inherit;
    outline: none;
    resize: none;
    overflow-y: hidden;
}

#inputTerm {
    width: 90vw;
    height: 1rem;
}

term-control > pre {
    display: flex;
    gap: 0.5rem;
}

.collapsable_btn:hover {
    /* font-size: calc(100% + 10%); */
    font-weight: bold;
}

.collapsable_btn + pre, .collapsable_btn:hover + pre {
    transition: 0.085s;
}

.collapsable_btn:hover + pre {
    filter: grayscale(80%) opacity(20%);
    transform: scaleY(0);
    height: 0px;
}

.collapsable {
    display: none;
}

save_btn {
    --margin: 0.5rem;
    margin: var(--margin);
    padding: 0.5rem;
    color: var(--font-color);
    border-radius: 0.2rem;
    border: 1px solid #00000000;

    /* Center horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

save_btn:hover {
    font-weight: bold;
    border-color: var(--c-grey);
}