<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/term.css">
    <title>MoleWakaMoleWeb</title>
</head>
<body>
    <pre class="title">
███    ███  ██████  ██      ███████ ██     ██  █████  ██   ██  █████  ███    ███  ██████  ██      ███████
████  ████ ██    ██ ██      ██      ██     ██ ██   ██ ██  ██  ██   ██ ████  ████ ██    ██ ██      ██     
██ ████ ██ ██    ██ ██      █████   ██  █  ██ ███████ █████   ███████ ██ ████ ██ ██    ██ ██      █████  
██  ██  ██ ██    ██ ██      ██      ██ ███ ██ ██   ██ ██  ██  ██   ██ ██  ██  ██ ██    ██ ██      ██     
██      ██  ██████  ███████ ███████  ███ ███  ██   ██ ██   ██ ██   ██ ██      ██  ██████  ███████ ███████
</pre>

<br>
<br>

<pre>
<ft>void</ft> <ft_name>ft_test</ft_name>(<ft_arg>msg</ft_arg>) {
    <ft>printf</ft>(<string>"%s"</string>, <ft_arg>msg</ft_arg>);
    <comment>// This comment is really, really, really, really, really, really, really, really, really, really, really, really, really, really, really, really, really long</comment>
}
</pre>

<br>
<br>

<pre>
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
<cmd>$></cmd> docker run -it --rm alpine sh
</pre>

</body>
</html>