<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/term.css">
    <link rel="stylesheet" href="/css/layout.css">
    <title>MoleWakaMoleWeb</title>
</head>
<body>
<div class="center-container">
    <pre class="title">
███    ███  ██████  ██      ███████ ██     ██  █████  ██   ██  █████  ███    ███  ██████  ██      ███████
████  ████ ██    ██ ██      ██      ██     ██ ██   ██ ██  ██  ██   ██ ████  ████ ██    ██ ██      ██     
██ ████ ██ ██    ██ ██      █████   ██  █  ██ ███████ █████   ███████ ██ ████ ██ ██    ██ ██      █████  
██  ██  ██ ██    ██ ██      ██      ██ ███ ██ ██   ██ ██  ██  ██   ██ ██  ██  ██ ██    ██ ██      ██     
██      ██  ██████  ███████ ███████  ███ ███  ██   ██ ██   ██ ██   ██ ██      ██  ██████  ███████ ███████
    </pre>
</div>
<div class="full-height">
    <div class="center-container max-size">
        <button class="login">Login</button>
    </div>
</div>
</body>
</html>